{% extends "layout.html" %}

{% block title %}
    Data
{% endblock %}

{% block main %}
<p class="lead text-muted"><small>Data-data ini diambil dari DataBase SQL pelanggan DVD Kurang Laku</small></p>

<p class="mt-5 lead text-left">Data Username</p>
<table class="table table-striped" style="width:30%">
    <tr>
        <th>user_id</th>
        <th>username</th>
    </tr>
    {% for i in users %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
    </tr>
    {% endfor %}
</table>

<p class="mt-5 lead text-center">Data Identitas Pelanggan</p>
<table class="table table-striped">
    <tr>
        <th>user_id</th>
        <th>Nama</th>
        <th>NIK</th>
        <th>Telepon</th>
        <th>Alamat</th>
    </tr>
    {% for i in pelanggan %}
    <tr>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
        <td>{{ i[4] }}</td>
        <td>{{ i[5] }}</td>
    </tr>
    {% endfor %}
</table>

<p class="mt-5 lead text-center">Data Penyewaan DVD</p>
<table class="table table-striped">
    <tr>
        <th>user_id</th>
        <th>Judul</th>
        <th>Kuantitas</th>
        <th>Tanggal Sewa</th>
        <th>Tanggal Pengembalian</th>
    </tr>
    {% for i in sewa %}
    <tr>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
        <td>{{ i[5] }}</td>
        <td>{{ i[4] }}</td>
    </tr>
    {% endfor %}
</table>

<p class="m-5 lead text-center">Data Stock Barang</p>
<table class="table table-striped">
    <tr>
        <th>produk_id</th>
        <th>Judul</th>
        <th>Tahun</th>
        <th>Stock</th>
        <th>Harga</th>
    </tr>
    {% for i in produk %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
        <td>{{ i[4] }}</td>
    </tr>
    {% endfor %}
</table>


<p class="m-5 lead text-center">Data Genre Favorit Registrasi Pelanggan</p>

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <tr>
                <th>Genre</td>
                <th>Jumlah peminat</td>
            </tr>
            <tr>
                <td>Horror</td>
                <td>{{genres_favs_tot[0]}}</td>
            </tr>
            <tr>
                <td>Fantasy</td>
                <td>{{genres_favs_tot[1]}}</td>
            </tr>
            <tr>
                <td>Drama</td>
                <td>{{genres_favs_tot[2]}}</td>
            </tr>
            <tr>
                <td>Romance</td>
                <td>{{genres_favs_tot[3]}}</td>
            </tr>
            <tr>
                <td>Action</td>
                <td>{{genres_favs_tot[4]}}</td>
            </tr>
            <tr>
                <td>Animation</td>
                <td>{{genres_favs_tot[5]}}</td>
            </tr>
            <tr>
                <td>Documentary</td>
                <td>{{genres_favs_tot[6]}}</td>
            </tr>
        </table>
    </div>
    <div class="col">
        <div class="text-center">
            <img src="static/img/{{ img_name }}.png" class="img-fluid" alt="plot">
        </div>
    </div>

</div>
{% endblock %}