<!-- SETELAH LOGIN -->

{% extends "layout.html" %}

{% block title %}
    Sewa
{% endblock %}

{% block main %}

<!--Formulir Penyewaan DVD-->
<div class="container mb-5">
    <h2 class="mb-5">Rincian Penyewaan</h2>
    <div class="row">
        <div class="col">
            <form action="/" method="post">
                <table cellspacing="0" cellpadding="5">
                    <tr>
                        <td><label for="username">Username</label></td>
                        <td><input disabled="" placeholder="{{ username }}" value="{{ username }}" type="text" id="username"></td>
                    </tr>
                    <tr>
                        <td><label for="Nama">Nama</label></td>
                        <td><input disabled="" placeholder="{{ nama }}" value="{{ nama }}" type="text" id="nama"></td>
                    </tr>
                    <tr>
                        <td><label>Judul Film</label></td>
                        <td>
                            <select required id="judul" name="judul">
                                <option disabled selected value="">--Select A Title--</option>
                                {% for i in list_of_judul %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="kuantitas">Kuantitas</label></td>
                        <td>
                            <select required id="kuantitas" name="kuantitas">
                                <option selected disabled value="">--Select Quantities--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="tanggal_pengembalian">Tanggal Pengembalian</label></td>
                        <td><input required type="date" min="" id="tanggal_pengembalian" name="tanggal_pengembalian"></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-primary" type="button" onclick="check();">
                                Check
                            </button>
                        </td>
                    </tr>
                </table>
        </div>
        <div class="col">
            <!--Konfirmasi untuk menyewa-->
            <div class="mb-5">
                <table cellpadding="10" style="border: 1px solid black">
                    <tr>
                        <td>Username:</td>
                        <td id="konfirmasi_Username"></td>
                    </tr>
                    <tr>
                        <td>Nama:</td>
                        <td id="konfirmasi_Nama"></td>
                    </tr>
                    <tr>
                        <td>Judul Film:</td>
                        <td id="konfirmasi_Judul"></td>
                    </tr>
                    <tr>
                        <td>Kuantitas:</td>
                        <td id="konfirmasi_Kuantitas"></td>
                    </tr>
                    <tr>
                        <td>Tanggal Pengembalian:</td>
                        <td id="konfirmasi_Tanggal"></td>
                    </tr>
                    <tr>
                        <td>Total Harga Sewa:</td>
                        <td id="konfirmasi_Total"></td>
                    </tr>
                </table>
                <div class="row form-group mt-4" id="button_pilih_metode_pembayaran">
                    <div class="col">
                        <select class="form-control" id="pilih_metode_pembayaran" name="pilih_metode_pembayaran">
                            <option disabled selected value="">-- Pilih metode pembayaran --</option>
                            <option value="Tunai"     > Tunai      </option>
                            <option value="Debit"     > Debit      </option>
                            <option value="Kredit"    > Kredit     </option>
                            <option value="Gopay"     > Gopay      </option>
                            <option value="OVO"       > OVO        </option>
                            <option value="Link aja"  > Link aja   </option>
                            <option value="Shopee pay"> Shopee pay </option>
                            <option value="Dana"      > Dana       </option>
                        </select>
                    </div>

                    <div class="col">
                        <button style="display: none;" id="conff" class="btn btn-primary" type="button" onclick="metode_bayar()">
                            Konfirmasi
                        </button>
                    </div>

                </div>
            </div><!--end of mb-5-->
        </div><!--end of COL-->
    </div><!--end of ROW-->

    <div class="text-center">
        <img id="qrcode" class="img-thumbnail" style="display: none; height:15rem; width:15rem;" src="static/qrcode.png" alt="qrcode">
    </div>

    <br>

    <div class="text-center">
        <div id="cetaknotanow" style="display: none ;">
            <button class="btn btn-primary" type="submit">
                Cetak Nota
            </button>
        </div>
    </div>

</form>
</div><!--end of container-->

{% endblock %}